---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
---

<Layout>
    <Header redirect = "/" action = "Home"/>
    <main>
        <form action = "/search">
            <input type = "text" name = "username" placeholder = "Username" required>
            <input type = "password" name = "password" placeholder = "Password" required>
            <button type = "submit">LOGIN</button>
        </form>
    </main>
</Layout>

<style lang = "sass">
    main
        height: 100%
        display: flex
        align-items: center
        justify-content: center

    form
        gap: 5px
        width: 30%
        height: 25%
        display: flex
        padding: 50px
        border-radius: 10px
        flex-direction: column
        background-color: rgba(0, 0, 0, 0.15)

    input, button
        margin: 0
        padding: 0
        height: 100%
        font-size: 20px
        border-width: 0
        border-radius: 10px
        font-family: "Titillium Web", sans-serif
        filter: drop-shadow(0 0 0.15rem rgb(37, 42, 63))

    input
        padding-left: 10px

    button
        cursor: pointer

    button:hover
        background-color: rgb(127, 255, 212)
</style>