---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
---

<Layout>
    <Header redirect = "/" action = "Home"/>
    <main>
        <form action = "/search">
            <input type = "text" name = "username" placeholder = "Username" required>
            <input type = "password" name = "password" placeholder = "Password" required>
            <button type = "submit">LOGIN</button>
        </form>
    </main>
</Layout>

<style>
    main {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form {
        gap: 5px;
        width: 30%;
        height: 20%;
        display: flex;
        flex-direction: column;
    }

    input, button {
        margin: 0;
        padding: 0;
        height: 100%;
        font-size: 20px;
        font-family: "Titillium Web", sans-serif;
    }

    input {
        padding-left: 10px;
    }

    button {
        cursor: pointer;
    }
</style>