---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Search from "@components/Search.astro";
---

<Layout>
    <Header redirect = "/" action = "Logout">
        <h2>Employee Research</h2>
    </Header>
    <main>
        <Search></Search>
    </main>
</Layout>

<style>
    h2 {
        margin: 0;
        color: rgba(37, 42, 63, 0.65);
        font-family: "Titillium Web", sans-serif;
    }

    main {
        padding: 10px 15px;
    }
</style>
