---
export interface Props {
    title?: string
    description?: string
}

const {
    title = "Gamma Security Services",
    description = "GSS (Gamma Security Services) is a worldwide military private security company (PMSC)."
} = Astro.props
---

<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>{title}</title>
        <meta charset = "UTF-8"/>
        <meta name = "description" content = {description}/>
        <meta name = "generator" content = {Astro.generator}/>
        <link rel = "icon" type = "image/png" href = "/favicon.png"/>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1"/>
        <script is:inline src = "https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    </head>
    <body>
        <slot/>
    </body>
</html>

<style>
    html, body {
        height: 100%;
    }

    body {
        margin: 0;
        cursor: default;
    }
</style>