---
import "@fontsource/titillium-web";

export interface Props {
    redirect?: string
    action?: string
}

const {
    redirect = "/login",
    action = "login",
} = Astro.props
---

<header>
    <nav>
        <div>
            <img id = "logo" src = "/favicon.png" alt = "logo">
            <h2>Gamma Security Services</h2>
            <slot/>
        </div>
        <a href = {redirect}>{action}</a>
    </nav>
</header>

<style>
    header {
        top: 0;
        z-index: 1;
        width: 100%;
        height: 15vh;
        position: fixed;
        background-color: rgb(127, 255, 212);
        filter: drop-shadow(0 0 0.15rem rgb(37, 42, 63));
    }

    nav {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    div {
        gap: 25px;
        display: flex;
        align-items: center;
    }

    form {
        gap: 5px;
        width: 40%;
        display: flex;
    }

    input {
        font-size: 15px;
        font-family: "Titillium Web", sans-serif;
    }

    input:not(input[type = submit]) {
        width: 100%;
        padding-left: 7.5px;
    }

    input[type = submit] {
        padding-left: 10px;
        padding-right: 10px; 
    }

    img {
        cursor: pointer;
        filter: drop-shadow(0 0 0.25rem rgb(37, 42, 63));
    }

    h2, a {
        color: rgb(37, 42, 63);
        font-family: "Titillium Web", sans-serif;
    }

    h2 {
        margin: 0;
    }

    a {
        font-size: 25px;
        text-decoration: none;
    }
</style>

<script>
    $("#logo").on("click", () => {
        window.location.href = "/";
    });
</script>
