---
const {
    redirect = "/login",
    action = "Login",
} = Astro.props
---

<header>
    <nav>
        <div>
            <img id = "logo" src = "/favicon.png" alt = "logo">
            <h2>Gamma Security Services</h2>
            <slot/>
        </div>
        <a href = {redirect}>{action}</a>
    </nav>
</header>

<style>
    header {
        width: 100%;
        margin-bottom: 5px;
        background-color: rgb(127, 255, 212);
        font-family: "Titillium Web", sans-serif;
        filter: drop-shadow(0 0 0.25rem rgb(37, 42, 63));
    }

    nav {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    div {
        gap: 25px;
        display: flex;
        align-items: center;
    }

    form {
        gap: 5px;
        width: 40%;
        display: flex;
    }

    img {
        cursor: pointer;
        filter: drop-shadow(0 0 0.25rem rgb(37, 42, 63));
    }

    h2, a {
        color: rgb(37, 42, 63);
    }

    h2 {
        margin: 0;
    }

    a {
        font-size: 25px;
        text-decoration: none;
    }
</style>

<script>
    $(() => {
        $("#logo").on("click", () => {
            window.location.href = "/";
        });
    });
</script>