---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<Layout>
    <Header></Header>
    <main>
        <div>
            <h1>ciao</h1>
            <h1>ciao</h1>
            <h1>ciao</h1>
            <h1>ciao</h1>
            <h1>ciao</h1>
            <h1>ciao</h1>
            <h1>ciao</h1>
            <h1>ciao</h1>
            <h1>ciao</h1>
            <h1>ciao</h1>
            <h1>ciao</h1>
        </div>
        <Footer></Footer>
    </main>
</Layout>

<style>
    main::-webkit-scrollbar {
        width: 10px;
    }

    main::-webkit-scrollbar-track {
        background: rgb(241, 241, 241);
    }

    main::-webkit-scrollbar-thumb {
        background: rgb(136, 136, 136);
    }

    main::-webkit-scrollbar-thumb:hover {
        background: rgb(85, 85, 85);
    }
    main {
        left: 0px;
        top: 94px;
        right: 0px;
        bottom: 0px;
        position: fixed;
        overflow-y: auto;
    }
    ​


    div {
        padding: 15px;
    }
</style>