---
import "@fontsource/titillium-web";
---

<header>
    <div>
        <img src = "/favicon.png" alt = "logo">
        <h2>Gamma Security Services</h2>
    </div>
    <nav>
        <a href = "/signup">Signup</a>
        <a href = "/login">Login</a>
    </nav>
</header>

<style>
    header {
        top: 0;
        z-index: 1;
        width: 100%;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(127, 255, 212);
        filter: drop-shadow(0 0 0.15rem rgb(37, 42, 63));
    }

    div, nav {
        gap: 20px;
        padding: 15px;
        display: flex;
        align-items: center;
    }

    div {
        cursor: pointer;
    }

    img {
        filter: drop-shadow(0 0 0.35rem rgb(37, 42, 63));
    }

    h2, a {
        color: rgb(37, 42, 63);
        font-family: "Titillium Web", sans-serif;
    }

    h2 {
        margin: 0;
    }

    a {
        text-decoration: none;
    }
</style>

<script>
    $("div").on("click", () => {
        window.location.href = "/";
    });
</script>
